<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Eventos Django</title>
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        {% block navbar %}
        {% endblock %}

        <div class="container my-4"> 
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
